{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>About Us</title>
    <title>SRI VARASIDHA LINGESHWARA DEVASTHANAM 
        శ్రీ వరసిద్ధ లింగేశ్వర దేవస్థానము</title>
</head>
<body>
    <header>
        <h1>SRI VARASIDHA LINGESHWARA DEVASTHANAM</h1>
        <h1> శ్రీ వరసిద్ధ లింగేశ్వర దేవస్థానము</h1>
    </header>
</head>
<body>
    <a href="{% url 'index' %}">Home</a>
    <h3>About Varasiddha Temple</h3>
    <p>Information about the temple...</p>
    <section id="About">
        <h4>Contact Information</h4>
        <p>If you have any questions or would like to get in touch, please contact us:</p>
        <ul>
            <li>1.	Sri. Chinthalapalli Prathap Reddy S/o. Lachi Reddy Occupation : Farmer</li>
            <li>Email: <a href="mailto:contact@temple.com">contact@temple.com</a></li>
            <li>Phone: +123-456-7890</li>
            <li>Address: H. No. 1-52, Gotlamitta, Koheda(M), Siddipet(Dist.)</li>
            <li>2.	Sri. . Bolumalla Chandhraiah S/o. Lingaiah Occupation : Farmer</li>
            <li>Email: <a href="mailto:contact@temple.com">contact@temple.com</a></li>
            <li>Phone: +123-456-7890</li>
            <li>Address: H. No. 1-14/B, Gotlamitta, Koheda(M), Siddipet(Dist.)</li>
            <li>3.	Sri. Chinthalapalli Thirupathi Reddy S/o. Adhi Reddy Occupation : Farmer </li>
            <li>Email: <a href="mailto:contact@temple.com">chthirupathireddy69@gmail.com</a></li>
            <li>Phone: +91 9491563251</li>
            <li>Address: H. No. 1-60, Gotlamitta, Koheda(M), Siddipet(Dist.)</li>
        </ul>
    </section>
</body>
</html>
